{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}Blog - Comments{% endblock %}

{% block page_content %}
<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
            <div class="comment-body">
                {% if body_html %}
                    {{ comment.body_html | safe }}
                {% else %}
                    {{ comment.body }}
                {% endif %}
            </div>
            <div class="comment-footer">
                {% if comment.post %}
                 <a href="{{ url_for('.post', id=comment.post.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
                {% endif %}
                {% if current_user == comment.author or current_user.is_administrator() %}
                <a href="{{ url_for('.delete_comment', id=comment.id) }}">
                    <span class="label label-warning">Delete</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.show_comments', username=current_user.username) }}
</div>
{% endif %}
{% endblock %}